$blue:#057BBD;
$light-blue:#00C4FF;
$fade-blue:#C6E9FF;
$white:#ffffff;

body {
    font-family: 'DM Sans', sans-serif;

}

.container {
    max-width: 1208px;
}

.main-banner {
    background: url(../assets/images/main-banner-bg.png) no-repeat top center;


    .remote-learning {
        color: $white;

        h1 {
            font-size: 64px;
            line-height: 64px;
            color: $fade-blue;
            margin-bottom: 35px;

            #spin {
                color: $white;
            }

            #spin:after {
                content: "";
                animation: spin 10s linear infinite;
            }

            @keyframes spin {
                0% {
                    content: "Easy";
                }

                10% {
                    content: "dolor";
                }

                20% {
                    content: "sit";
                }

                30% {
                    content: "amet";
                }

                40% {
                    content: "consect";
                }

                50% {
                    content: "adipis";
                }

                60% {
                    content: "elit";
                }

                70% {
                    content: "Hic";
                }

                80% {
                    content: "atque";
                }

                90% {
                    content: "fuga";
                }

                100% {
                    content: "something";
                }
            }
        }

        p {
            font-size: 18px;
        }
    }

    .login-section {
        text-align: center;
        color: $white;

        h4 {
            font-size: 24px;
            margin-bottom: 24px;
        }

        .login-box {
            border: 1px solid $white;
            border-radius: 24px;
            padding: 24px 20px;
            margin-bottom: 24px;



            p {
                font-size: 18px;
                margin-top: 10px;
                margin-bottom: 0;
            }
        }
    }
}

.smart-interface {
    padding-top: 68px;
    padding-bottom: 200px;
    background: url(../assets/images/main-banner-bg.png) no-repeat bottom center;

    h3 {
        font-size: 48px;
        color: $light-blue;
    }

    p {
        color: $blue;
        font-size: 18px;
        line-height: 22px;
    }
}

.relevant-feedback {
    h3 {
        font-size: 50px;
        color: $light-blue;
        line-height: 52px;
        margin-bottom: 30px;
    }

    p {
        color: $blue;
        font-size: 18px;
        line-height: 22px;
    }
}

.happy-school-benefits {
    background: $blue;
    color: $white;

    h2 {
        font-size: 60px;
        line-height: 64px;
        color: $light-blue;
    }

    img {
        margin-bottom: 14px;
    }

    h6 {
        font-size: 24px;
    }

    p {
        font-size: 14px;
    }


}

.contact-us {
    .contact {
        background: $blue;

        h3 {
            font-size: 60px;
            line-height: 56px;
            color: $light-blue;
            margin-bottom: 50px;
        }

        h4 {
            font-size: 30px;
            line-height: 24px;
            color: $light-blue;
            margin-top: 50px;
            margin-bottom: 30px;
        }

        .btn {
            background: $white;
            border-radius: 15px;
            color: $blue;
            font-size: 24px;
            line-height: 24px;
            padding: 20px;
            font-weight: 500;
        }

        p {
            color: $white;
        }
    }

    .video-bg {
        background: url(..//assets/images/video-img.svg) no-repeat top left;
        background-size: cover;
        position: relative;
        padding: 24px;

        .play-icon {
            height: 160px;
            width: 160px;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
        }
    }
}