body {
  font-family: 'DM Sans', sans-serif;
}

body .modal-backdrop {
  background: #057BBD;
}

.container {
  max-width: 1208px;
}

.main-banner {
  background: url(../assets/images/main-banner-bg.png) no-repeat top center;
}

.main-banner .logo {
  margin-top: 40px;
  margin-bottom: 15px;
  border-bottom: 2px solid #C6E9FF;
  margin-bottom: 52px;
}

.main-banner .remote-learning {
  color: #ffffff;
}

.main-banner .remote-learning h1 {
  font-size: 64px;
  line-height: 64px;
  color: #C6E9FF;
  margin-bottom: 35px;
}

.main-banner .remote-learning h1 #spin {
  color: #ffffff;
}

.main-banner .remote-learning h1 #spin:after {
  content: "";
  -webkit-animation: spin 10s linear infinite;
          animation: spin 10s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    content: "Easy";
  }
  10% {
    content: "dolor";
  }
  20% {
    content: "sit";
  }
  30% {
    content: "amet";
  }
  40% {
    content: "consect";
  }
  50% {
    content: "adipis";
  }
  60% {
    content: "elit";
  }
  70% {
    content: "Hic";
  }
  80% {
    content: "atque";
  }
  90% {
    content: "fuga";
  }
  100% {
    content: "something";
  }
}

@keyframes spin {
  0% {
    content: "Easy";
  }
  10% {
    content: "dolor";
  }
  20% {
    content: "sit";
  }
  30% {
    content: "amet";
  }
  40% {
    content: "consect";
  }
  50% {
    content: "adipis";
  }
  60% {
    content: "elit";
  }
  70% {
    content: "Hic";
  }
  80% {
    content: "atque";
  }
  90% {
    content: "fuga";
  }
  100% {
    content: "something";
  }
}

.main-banner .remote-learning p {
  font-size: 18px;
}

.main-banner .login-section {
  text-align: center;
  color: #ffffff;
  margin-top: -100px;
}

.main-banner .login-section h4 {
  font-size: 24px;
  margin-bottom: 24px;
}

.main-banner .login-section .login-box {
  border: 1px solid #ffffff;
  border-radius: 24px;
  padding: 24px 20px;
  margin-bottom: 24px;
}

.main-banner .login-section .login-box p {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 0;
}

.main-banner .happSchool-buddy h3 {
  font-size: 40px;
  line-height: 50px;
  color: #00C4FF;
  margin-bottom: 25px;
}

.main-banner .happSchool-buddy p {
  color: #057BBD;
  line-height: 18px;
}

.main-banner .happSchool-buddy p strong {
  font-size: 20px;
}

.main-banner .happSchool-buddy .progress {
  margin-top: 30px;
  border-radius: 24px;
  width: 50%;
}

.main-banner .happSchool-buddy .progress .progress-bar {
  background: #00D058;
}

.main-banner .happSchool-buddy .buddys-health {
  color: #A6AAB5;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.main-banner .main-banner-bottom {
  margin-top: 100px;
}

.main-banner .main-banner-bottom .green-monster {
  position: absolute;
  bottom: 0 !important;
}

.main-banner .main-banner-bottom .custom-chatbot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-banner .main-banner-bottom .custom-chatbot .kid {
  background: #ffffff;
  color: #545454;
  text-align: right;
  padding: 15px;
  width: auto;
  border-radius: 24px;
}

.main-banner .main-banner-bottom .custom-chatbot .buddy {
  background: #00C4FF;
  color: #ffffff;
  padding: 15px;
  width: auto;
  border-radius: 24px;
}

.smart-interface {
  padding-top: 68px;
  padding-bottom: 200px;
  background: url(../assets/images/main-banner-bg.png) no-repeat bottom center;
}

.smart-interface h3 {
  font-size: 48px;
  color: #00C4FF;
}

.smart-interface p {
  color: #057BBD;
  font-size: 18px;
  line-height: 22px;
}

.relevant-feedback h3 {
  font-size: 50px;
  color: #00C4FF;
  line-height: 52px;
  margin-bottom: 30px;
}

.relevant-feedback p {
  color: #057BBD;
  font-size: 18px;
  line-height: 22px;
}

.relevant-feedback .dropdown-btn .dropdown-section {
  position: absolute;
  margin-bottom: -100px;
  margin-top: 40px;
  z-index: 1;
}

.relevant-feedback .dropdown-btn .dropdown-section span {
  color: #A6AAB5;
}

.relevant-feedback .dropdown-btn .dropdown-section .btn-group {
  display: block;
  float: right;
}

.relevant-feedback .dropdown-btn .dropdown-section .btn-group .btn {
  background: transparent;
  color: #101010;
  font-size: 20px;
  line-height: 32px;
  border: 0;
  padding: 0;
}

.relevant-feedback .dropdown-btn .dropdown-section .btn-group .btn:focus {
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.happy-school-benefits {
  background: #057BBD;
  color: #ffffff;
}

.happy-school-benefits h2 {
  font-size: 60px;
  line-height: 64px;
  color: #00C4FF;
}

.happy-school-benefits img {
  margin-bottom: 14px;
}

.happy-school-benefits h6 {
  font-size: 24px;
  margin-bottom: 15px;
}

.happy-school-benefits p {
  font-size: 14px;
  color: #E5EFF5;
  line-height: 18px;
}

.testimonial-container img.testi-icon {
  position: absolute;
  top: -12px;
  width: 38px;
  left: 200px;
}

.testimonial-container .testimonial {
  padding-top: 80px;
  padding-bottom: 80px;
}

.testimonial-container .testimonial h6 {
  font-size: 24px;
  line-height: 32px;
  color: #00C4FF;
  font-weight: 900;
}

.testimonial-container .testimonial p {
  text-align: right;
  color: #057BBD;
}

.contact-us .contact {
  background: #057BBD;
}

.contact-us .contact h3 {
  font-size: 60px;
  line-height: 56px;
  color: #00C4FF;
  margin-bottom: 50px;
}

.contact-us .contact h4 {
  font-size: 30px;
  line-height: 24px;
  color: #00C4FF;
  margin-top: 50px;
  margin-bottom: 30px;
}

.contact-us .contact .btn {
  background: #ffffff;
  border-radius: 15px;
  color: #057BBD;
  font-size: 24px;
  line-height: 24px;
  padding: 20px;
  font-weight: 500;
}

.contact-us .contact p {
  color: #ffffff;
}

.contact-us .video-bg {
  background: url(..//assets/images/video-img.svg) no-repeat top left;
  background-size: cover;
  position: relative;
  padding: 24px;
  height: 550px;
}

.contact-us .video-bg .play-icon {
  height: 160px;
  width: 160px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.contact-us .copyrights {
  font-size: 24px;
  color: #ffffff;
  background: #A6AAB5;
}

.login-modal {
  background: #E5EFF5;
  border-radius: 20px;
  max-width: 700px;
  border: 2px solid #00C4FF;
}

.login-modal .modal-content {
  padding: 15px 120px;
  background: transparent;
  position: relative;
  border: 0;
}

.login-modal .modal-content h5.modal-title {
  font-size: 24px;
  line-height: 32px;
}

.login-modal .modal-content .close {
  position: absolute;
  top: 20px;
  right: 20px;
}

.login-modal .modal-content .form-control {
  border: 1px solid #00C4FF;
}

.login-modal .modal-content .modal-footer {
  margin: 0;
}

.login-modal .modal-content .modal-footer .btn {
  border-radius: 8px;
  padding: 10px 20px;
}

.login-modal .modal-content .modal-footer .btn-cancel {
  border: 2px solid #DADCE1;
  color: #DADCE1;
}

.login-modal .modal-content .modal-footer .btn-cancel:hover {
  background: #DADCE1;
  color: #057BBD;
}

.login-modal .modal-content .modal-footer .btn-login {
  background: #00C4FF;
  color: #ffffff;
  border: 2px solid #00C4FF;
}

.login-modal .modal-content label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #A6AAB5;
}

.big-modals .modal-content {
  padding: 20px;
}

.big-modals .modal-content .modal-body,
.big-modals .modal-content .modal-footer {
  width: 400px;
  margin: 0 auto;
}

.big-modals .modal-content .modal-body label span,
.big-modals .modal-content .modal-footer label span {
  color: #ff0000;
  margin-left: 10px;
}

.big-modals .modal-content .modal-header strong {
  color: #A6AAB5;
}

.big-modals small {
  color: #A6AAB5;
  font-size: 12px;
  line-height: 12px;
}

.submit-request .modal-content .modal-body,
.submit-request .modal-content .modal-footer {
  width: 100%;
}

@media (max-width: 575.98px) {
  .main-banner .remote-learning h1 {
    font-size: 40px;
    line-height: 40px;
  }
  .main-banner .remote-learning p {
    line-height: 20px;
    font-size: 16px;
  }
  .main-banner .login-section {
    margin-top: 50px;
  }
  .main-banner .login-section .login-box {
    background: #ffffff;
    -webkit-box-shadow: 0px 0px 8px 0px #C6E9FF;
            box-shadow: 0px 0px 8px 0px #C6E9FF;
  }
  .main-banner .login-section .login-box p {
    color: #057BBD;
  }
  .main-banner .login-section h4 a {
    color: #00C4FF !important;
  }
  .main-banner .main-banner-bottom .green-monster {
    position: static;
  }
  .happy-school-benefits h2 {
    font-size: 40px;
    line-height: 42px;
  }
  .happy-school-benefits h6 {
    font-size: 18px;
  }
  .happy-school-benefits p {
    margin-bottom: 50px;
  }
  .smart-interface {
    padding-bottom: 80px;
  }
  .smart-interface h3 {
    font-size: 38px;
  }
  .relevant-feedback h3 {
    font-size: 36px;
    line-height: 36px;
    margin-top: 40px;
  }
  .relevant-feedback .dropdown-btn .dropdown-section {
    position: static;
  }
  .relevant-feedback .dropdown-btn .dropdown-section br {
    display: none;
  }
  .relevant-feedback .dropdown-btn .dropdown-section span {
    display: block;
    text-align: right;
  }
  .contact-us .contact {
    padding: 40px 20px;
  }
  .contact-us .contact h3 {
    font-size: 42px;
    margin-bottom: 20px;
  }
  .contact-us .contact .btn {
    font-size: 20px;
    padding: 15px;
  }
  .contact-us .video-bg {
    height: 400px;
  }
  .login-modal .modal-content {
    padding: 20px;
  }
}
/*# sourceMappingURL=custom.css.map */