$blue:#057BBD;
$light-blue:#00C4FF;
$fade-blue:#C6E9FF;
$white:#ffffff;
$grey-fade:#E5EFF5;
$red:#ff0000;
$green:#00D058;
$grey:#A6AAB5;

body {
    font-family: 'DM Sans', sans-serif;

}

body .modal-backdrop {
    background: $blue;
}

.container {
    max-width: 1208px;
}

.main-banner {
    background: url(../assets/images/main-banner-bg.png) no-repeat top center;

    .logo {
        margin-top: 40px;
        margin-bottom: 15px;
        border-bottom: 2px solid $fade-blue;
        margin-bottom: 52px;
    }

    .remote-learning {
        color: $white;

        h1 {
            font-size: 64px;
            line-height: 64px;
            color: $fade-blue;
            margin-bottom: 35px;

            #spin {
                color: $white;
            }

            #spin:after {
                content: "";
                animation: spin 10s linear infinite;
            }

            @keyframes spin {
                0% {
                    content: "Easy";
                }

                10% {
                    content: "dolor";
                }

                20% {
                    content: "sit";
                }

                30% {
                    content: "amet";
                }

                40% {
                    content: "consect";
                }

                50% {
                    content: "adipis";
                }

                60% {
                    content: "elit";
                }

                70% {
                    content: "Hic";
                }

                80% {
                    content: "atque";
                }

                90% {
                    content: "fuga";
                }

                100% {
                    content: "something";
                }
            }
        }

        p {
            font-size: 18px;
        }
    }

    .login-section {
        text-align: center;
        color: $white;
        margin-top: -100px;

        h4 {
            font-size: 24px;
            margin-bottom: 24px;
        }

        .login-box {
            border: 1px solid $white;
            border-radius: 24px;
            padding: 24px 20px;
            margin-bottom: 24px;



            p {
                font-size: 18px;
                margin-top: 10px;
                margin-bottom: 0;
            }
        }
    }

    .happSchool-buddy {
        h3 {
            font-size: 40px;
            line-height: 50px;
            color: $light-blue;
            margin-bottom: 25px;
        }

        p {
            color: $blue;
            line-height: 18px;

            strong {
                font-size: 20px;
            }
        }

        .progress {
            margin-top: 30px;
            border-radius: 24px;
            width: 50%;

            .progress-bar {
                background: $green;
            }
        }

        .buddys-health {
            color: $grey;
            font-size: 18px;
            margin-top: 10px;
            margin-bottom: 40px;
        }
    }

    .main-banner-bottom {
        margin-top: 100px;

        .green-monster {
            position: absolute;
            bottom: 0 !important;
        }
    }
}

.smart-interface {
    padding-top: 68px;
    padding-bottom: 200px;
    background: url(../assets/images/main-banner-bg.png) no-repeat bottom center;

    h3 {
        font-size: 48px;
        color: $light-blue;
    }

    p {
        color: $blue;
        font-size: 18px;
        line-height: 22px;
    }
}

.relevant-feedback {
    h3 {
        font-size: 50px;
        color: $light-blue;
        line-height: 52px;
        margin-bottom: 30px;
    }

    p {
        color: $blue;
        font-size: 18px;
        line-height: 22px;
    }

    .dropdown-btn {
        .dropdown-section {
            position: absolute;
            margin-bottom: -100px;
            margin-top: 40px;
            z-index: 1;

            span {
                color: $grey;
            }

            .btn-group {
                display: block;
                float: right;

                .btn {
                    background: transparent;
                    color: #101010;
                    font-size: 20px;
                    line-height: 32px;
                    border: 0;
                    padding: 0;

                    &:focus {
                        border: 0;
                        box-shadow: none;
                    }
                }
            }
        }
    }
}

.happy-school-benefits {
    background: $blue;
    color: $white;

    h2 {
        font-size: 60px;
        line-height: 64px;
        color: $light-blue;
    }

    img {
        margin-bottom: 14px;
    }

    h6 {
        font-size: 24px;
        margin-bottom: 15px;
    }

    p {
        font-size: 14px;
        color: $grey-fade;
        line-height: 18px;
    }


}

.testimonial-container {


    img.testi-icon {
        position: absolute;
        top: -12px;
        width: 38px;
        left: 200px;
    }

    .testimonial {
        padding-top: 80px;
        padding-bottom: 80px;

        h6 {
            font-size: 24px;
            line-height: 32px;
            color: $light-blue;
            font-weight: 900;
        }

        p {
            text-align: right;
            color: $blue;
        }
    }
}

.contact-us {
    .contact {
        background: $blue;

        h3 {
            font-size: 60px;
            line-height: 56px;
            color: $light-blue;
            margin-bottom: 50px;
        }

        h4 {
            font-size: 30px;
            line-height: 24px;
            color: $light-blue;
            margin-top: 50px;
            margin-bottom: 30px;
        }

        .btn {
            background: $white;
            border-radius: 15px;
            color: $blue;
            font-size: 24px;
            line-height: 24px;
            padding: 20px;
            font-weight: 500;
        }

        p {
            color: $white;
        }
    }

    .video-bg {
        background: url(..//assets/images/video-img.svg) no-repeat top left;
        background-size: cover;
        position: relative;
        padding: 24px;
        height: 550px;

        .play-icon {
            height: 160px;
            width: 160px;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
        }
    }

    .copyrights {
        font-size: 24px;
        color: $white;
        background: $grey;
    }
}

.login-modal {

    background: $grey-fade;
    border-radius: 20px;
    max-width: 700px;
    border: 2px solid $light-blue;



    .modal-content {
        padding: 15px 120px;
        background: transparent;
        position: relative;
        border: 0;

        h5.modal-title {
            font-size: 24px;
            line-height: 32px;
        }

        .close {
            position: absolute;
            top: 20px;
            right: 20px;
        }

        .form-control {
            border: 1px solid $light-blue;
        }

        .modal-footer {
            margin: 0;

            .btn {
                border-radius: 8px;
                padding: 10px 20px;
            }

            .btn-cancel {
                border: 2px solid #DADCE1;
                color: #DADCE1;

                &:hover {
                    background: #DADCE1;
                    color: $blue;
                }
            }

            .btn-login {
                background: $light-blue;
                color: $white;
                border: 2px solid $light-blue;
            }
        }

        label {
            display: flex;
            align-items: center;
            color: $grey;
        }
    }

}

.big-modals {
    .modal-content {
        padding: 20px;

        .modal-body,
        .modal-footer {
            width: 400px;
            margin: 0 auto;

            label {
                span {
                    color: $red;
                    margin-left: 10px;
                }
            }
        }

        .modal-header {
            strong {
                color: $grey;
            }
        }
    }

    small {
        color: $grey;
        font-size: 12px;
        line-height: 12px;
    }
}

.submit-request {
    .modal-content {

        .modal-body,
        .modal-footer {
            width: 100%;
        }
    }
}

// Responsive Mobile
@import "mobile";